# Rust
/target

# REIMU build configuration
/.xmake/

# ANTLR
.antlr

# Python test runner
__pycache__/

# Local tests
/tests/

# Local files
dev/
*.local.*

tmp/
PLAN.md

example.rx
build/

DEVELOPMENT-HISTORY.md
